.section {
  width: 100%;
  padding: 4rem 1.5rem;
  box-sizing: border-box;

  /* Degradado gris vertical en el lado derecho */
  background: linear-gradient(
    to bottom right,
    #404040 0%,
    #5A5A59 100%
  );
}

.sectionTitle {
    margin: auto;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    line-height: normal;
    font-family: 'Staatliches';
    color: white;
    margin: 0;
    margin-top: 50px;
}

  

.cardsWrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 150px;
  padding-top: 30px;
  padding-bottom: 10px;
}

/* ----- CARD ----- */

.card {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  background: #000;
  border: solid 4px white;
  border-radius: 16px;
  padding: 0.5rem 2rem 0.5rem;
  padding: 1rem 1rem 1rem 2rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
  color: white;
}

/* ----- LEFT COLUMN ----- */

.left {
  flex: 2;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-family: 'Noto Sans';
  
  p {
    margin-bottom: 2px;

  }



  h3 {
    margin-top: 5px;
    margin-bottom: 0.5rem;
       font-weight: 700;
       font-size: 24px;
    line-height: normal;
    font-family: 'Staatliches';
  }

  .divider {
    width: 100%;
    height: 2px;
    background-color: white;
    margin-bottom: 2px;
  }

 

  ul {
    padding-left: 1.2rem;
    list-style-type: disc;

    li {
      margin-bottom: 0.5rem;
    }
  }
}


/* ----- RIGHT COLUMN ----- */

.right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    max-width: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    filter: grayscale(1);
  }
}

/* ----- MOBILE ----- */

@media screen and (max-width: 768px) {
    .cardsWrapper{
        padding: 0;
        margin-top: 20px;
    }
  .card {
    flex-direction: column;
    padding: 1rem;
  }

  .right {
    margin-top: 1.5rem;
  }
}
