.hero {
  position: relative;
  width: 100%;
  height: 100vh; /* ocupa toda la pantalla */
  overflow: hidden;

  .videoBg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* cubre todo el contenedor */
    z-index: -1;
  }

  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* centra vertical y horizontal */
    text-align: center;
    color: white;
    padding: 0 1rem;

    @media screen and (max-width: 768px) {
padding: 0;
    }
    
  }

  .title {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 1rem;
    font-family: 'Staatliches';

    @media screen and (max-width: 768px) {
      font-size: 2rem;
      
    }
  }

  .subtitle {
    font-size: 16px;
    margin-bottom: 2rem;
       font-family: 'Noto Sans';

    @media screen and (max-width: 768px) {
      font-size: 1rem;
    }
  }

  .ctaButton {
    padding: 0.8rem 1rem;
    font-size: 24px;
    font-weight: 600;
    border: white 1px solid;
    border-radius: 5px;
    background-color: #414141;
    color: white;
    cursor: pointer;
    transition: background 0.3s;

    &:hover {
      background-color: grey;
    }
  }
}
