body{
    background-color: #292828;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 2rem;
  font-family: sans-serif;
  color: white;
  font-family: 'Noto Sans';

  h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  h2 {
    font-size: 1.5rem;
  line-height: normal;

  }

}

.divider {
  border: 0;
  height: 1px;
  background-color: #ccc;
  
}


