@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600;700&display=swap');


html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden; 
}