.page {
  
  background-color: red;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
}


html,
body,
#__next {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-color: #E2E3E5;
}
